In [91]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()
pd.set_option('display.max_columns', None)

In [92]:
df_train =pd.read_excel("E:\Edrive\Sudhanshu\Datatrained Projects\Data-Science-ML-Capstone-Projects-master\Final Participant Data Folder\Final_Train.xlsx")
df_test =pd.read_excel("E:\Edrive\Sudhanshu\Datatrained Projects\Data-Science-ML-Capstone-Projects-master\Final Participant Data Folder\Final_Test.xlsx")

In [93]:
df_train.shape

(5961, 7)

In [94]:
df_test.shape

(1987, 6)

In [95]:
df= df_train.append(df_test)

In [96]:
df.head(5)

,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating
0,24 years experience,100.0,"100% 16 Feedback Kakkanad, Ernakulam","Kakkanad, Ernakulam",Homeopath,"BHMS, MD - Homeopathy",100%
1,12 years experience,350.0,"98% 76 Feedback Whitefield, Bangalore","Whitefield, Bangalore",Ayurveda,"BAMS, MD - Ayurveda Medicine",98%
2,9 years experience,300.0,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,"MBBS, MS - Otorhinolaryngology",NaN
3,12 years experience,250.0,"Bannerghatta Road, Bangalore ₹250 Available on...","Bannerghatta Road, Bangalore",Ayurveda,"BSc - Zoology, BAMS",NaN
4,20 years experience,250.0,"100% 4 Feedback Keelkattalai, Chennai","Keelkattalai, Chennai",Ayurveda,BAMS,100%

In [97]:
df.shape

(7948, 7)

In [98]:
df.isnull().sum()

Experience               0
Fees                  1987
Miscellaneous_Info    3454
Place                   31
Profile                  0
Qualification            0
Rating                4392
dtype: int64

In [99]:
df['Qual_1'] = df['Qualification'].str.split(',').str[0]
df['Qual_2'] = df['Qualification'].str.split(',').str[1]
df['Qual_3'] = df['Qualification'].str.split(',').str[2]
df['Qual_1'].fillna("0",inplace = True)
df['Qual_2'].fillna("0",inplace = True)
df['Qual_3'].fillna("0",inplace = True)

In [100]:
df["Experience"] = df["Experience"].str.split()

In [101]:
df["Experience"] = df["Experience"].str[0].astype("int")

In [102]:
df.head(5)

,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating,Qual_1,Qual_2,Qual_3
0,24,100.0,"100% 16 Feedback Kakkanad, Ernakulam","Kakkanad, Ernakulam",Homeopath,"BHMS, MD - Homeopathy",100%,BHMS,MD - Homeopathy,0
1,12,350.0,"98% 76 Feedback Whitefield, Bangalore","Whitefield, Bangalore",Ayurveda,"BAMS, MD - Ayurveda Medicine",98%,BAMS,MD - Ayurveda Medicine,0
2,9,300.0,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,"MBBS, MS - Otorhinolaryngology",NaN,MBBS,MS - Otorhinolaryngology,0
3,12,250.0,"Bannerghatta Road, Bangalore ₹250 Available on...","Bannerghatta Road, Bangalore",Ayurveda,"BSc - Zoology, BAMS",NaN,BSc - Zoology,BAMS,0
4,20,250.0,"100% 4 Feedback Keelkattalai, Chennai","Keelkattalai, Chennai",Ayurveda,BAMS,100%,BAMS,0,0

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7948 entries, 0 to 1986
Data columns (total 10 columns):
Experience            7948 non-null int32
Fees                  5961 non-null float64
Miscellaneous_Info    4494 non-null object
Place                 7917 non-null object
Profile               7948 non-null object
Qualification         7948 non-null object
Rating                3556 non-null object
Qual_1                7948 non-null object
Qual_2                7948 non-null object
Qual_3                7948 non-null object
dtypes: float64(1), int32(1), object(8)
memory usage: 652.0+ KB

In [106]:
df['Rating'].fillna('0',inplace = True)

In [111]:
df['Rating'] = df['Rating'].replace("%",'', regex=True)
df['Rating'] = df['Rating'].astype(int)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7948 entries, 0 to 1986
Data columns (total 10 columns):
Experience            7948 non-null int32
Fees                  5961 non-null float64
Miscellaneous_Info    4494 non-null object
Place                 7917 non-null object
Profile               7948 non-null object
Qualification         7948 non-null object
Rating                7948 non-null int32
Qual_1                7948 non-null object
Qual_2                7948 non-null object
Qual_3                7948 non-null object
dtypes: float64(1), int32(2), object(7)
memory usage: 620.9+ KB

In [113]:
df.head(5)

,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating,Qual_1,Qual_2,Qual_3
0,24,100.0,"100% 16 Feedback Kakkanad, Ernakulam","Kakkanad, Ernakulam",Homeopath,"BHMS, MD - Homeopathy",100,BHMS,MD - Homeopathy,0
1,12,350.0,"98% 76 Feedback Whitefield, Bangalore","Whitefield, Bangalore",Ayurveda,"BAMS, MD - Ayurveda Medicine",98,BAMS,MD - Ayurveda Medicine,0
2,9,300.0,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,"MBBS, MS - Otorhinolaryngology",0,MBBS,MS - Otorhinolaryngology,0
3,12,250.0,"Bannerghatta Road, Bangalore ₹250 Available on...","Bannerghatta Road, Bangalore",Ayurveda,"BSc - Zoology, BAMS",0,BSc - Zoology,BAMS,0
4,20,250.0,"100% 4 Feedback Keelkattalai, Chennai","Keelkattalai, Chennai",Ayurveda,BAMS,100,BAMS,0,0

In [114]:
df['City'] = df['Place'].str.split(',').str[1]
df['Locality'] = df['Place'].str.split(',').str[0]
df['City'].fillna("None",inplace = True)
df['Locality'].fillna("None",inplace = True)

In [115]:
df.head(5)

,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating,Qual_1,Qual_2,Qual_3,City,Locality
0,24,100.0,"100% 16 Feedback Kakkanad, Ernakulam","Kakkanad, Ernakulam",Homeopath,"BHMS, MD - Homeopathy",100,BHMS,MD - Homeopathy,0,Ernakulam,Kakkanad
1,12,350.0,"98% 76 Feedback Whitefield, Bangalore","Whitefield, Bangalore",Ayurveda,"BAMS, MD - Ayurveda Medicine",98,BAMS,MD - Ayurveda Medicine,0,Bangalore,Whitefield
2,9,300.0,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,"MBBS, MS - Otorhinolaryngology",0,MBBS,MS - Otorhinolaryngology,0,Bangalore,Mathikere - BEL
3,12,250.0,"Bannerghatta Road, Bangalore ₹250 Available on...","Bannerghatta Road, Bangalore",Ayurveda,"BSc - Zoology, BAMS",0,BSc - Zoology,BAMS,0,Bangalore,Bannerghatta Road
4,20,250.0,"100% 4 Feedback Keelkattalai, Chennai","Keelkattalai, Chennai",Ayurveda,BAMS,100,BAMS,0,0,Chennai,Keelkattalai

In [116]:
df= df.drop(df[['Miscellaneous_Info','Place','Qualification']], axis=1)

In [117]:
df.head(5)

,Experience,Fees,Profile,Rating,Qual_1,Qual_2,Qual_3,City,Locality
0,24,100.0,Homeopath,100,BHMS,MD - Homeopathy,0,Ernakulam,Kakkanad
1,12,350.0,Ayurveda,98,BAMS,MD - Ayurveda Medicine,0,Bangalore,Whitefield
2,9,300.0,ENT Specialist,0,MBBS,MS - Otorhinolaryngology,0,Bangalore,Mathikere - BEL
3,12,250.0,Ayurveda,0,BSc - Zoology,BAMS,0,Bangalore,Bannerghatta Road
4,20,250.0,Ayurveda,100,BAMS,0,0,Chennai,Keelkattalai

In [118]:
from sklearn.preprocessing import LabelEncoder
lb_encode = LabelEncoder()
df["Qual_1"] = lb_encode.fit_transform(df["Qual_1"])
df["Qual_2"] = lb_encode.fit_transform(df["Qual_2"])
df["Qual_3"] = lb_encode.fit_transform(df["Qual_3"])
df["Profile"] = lb_encode.fit_transform(df["Profile"])
df["City"] = lb_encode.fit_transform(df["City"])
df["Locality"] = lb_encode.fit_transform(df["Locality"])

In [119]:
df.head()

   Experience   Fees  Profile  Rating  Qual_1  Qual_2  Qual_3  City  Locality
0          24  100.0        5     100       8     293     480     4       324
1          12  350.0        0      98       5     282     480     0       926
2           9  300.0        3       0     101     383     480     0       494
3          12  250.0        0       0      14      10     480     0        74
4          20  250.0        0     100       5     494     480     1       367

In [120]:
df_train = df[0:5961]
df_test = df[5961:]
df_test = df_test.drop(['Fees'], axis =1)

In [121]:
df_train.head()

   Experience   Fees  Profile  Rating  Qual_1  Qual_2  Qual_3  City  Locality
0          24  100.0        5     100       8     293     480     4       324
1          12  350.0        0      98       5     282     480     0       926
2           9  300.0        3       0     101     383     480     0       494
3          12  250.0        0       0      14      10     480     0        74
4          20  250.0        0     100       5     494     480     1       367

In [122]:
x = df_train.drop(['Fees'],axis = 1)

In [123]:
y = df_train['Fees']

In [128]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(x)

In [129]:
x = pd.DataFrame(X, columns=x.columns)

In [130]:
x.head()

,Experience,Profile,Rating,Qual_1,Qual_2,Qual_3,City,Locality
0,0.600979,1.543016,1.220669,-1.031272,-0.270144,0.434675,0.383286,-0.447463
1,-0.476040,-1.472893,1.178419,-1.090682,-0.342475,0.434675,-1.318273,1.725330
2,-0.745295,0.336652,-0.891845,0.810421,0.321659,0.434675,-1.318273,0.166116
3,-0.476040,-1.472893,-0.891845,-0.912453,-2.131035,0.434675,-1.318273,-1.349785
4,0.241972,-1.472893,1.220669,-1.090682,1.051549,0.434675,-0.892884,-0.292263

In [136]:
! pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/5e/49/b95c037b717b4ceadc76b6e164603471225c27052d1611d5a2e832757945/xgboost-0.90-py2.py3-none-win_amd64.whl (18.3MB)
Requirement already satisfied: numpy in c:\users\pc\anaconda3\lib\site-packages (from xgboost) (1.13.3)
Requirement already satisfied: scipy in c:\users\pc\anaconda3\lib\site-packages (from xgboost) (0.19.1)
Installing collected packages: xgboost
Successfully installed xgboost-0.90

In [140]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
data_dmatrix = xgb.DMatrix(data=x,label=y)

In [142]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=123)

xg_reg = xgb.XGBRegressor(objective ='reg:linear', learning_rate = 0.1, max_depth = 5, n_estimators = 10)

xg_reg.fit(x_train,y_train)
preds = xg_reg.predict(x_test)

[19:58:15] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [143]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 211.297820